<h2> Mis Feriados </h2>
<% if @holidays.empty? %>
	<div class="row">
	<div class="span4">
		<div class="alert alert-block">
			<a class="close" data-dismiss="alert">x</a>
			<h4 class="alert-heading"> Aún no cargó su calendario. </h4>
			Comience ahora haciendo click en el botón de abajo.
		</div>
	</div>
</div>	
<%else%>
	<%= will_paginate @collection, :renderer => BootstrapPagination::Rails%>
	<table>
		<thead>
			<th> Descripción </th>
			<th> Fecha </th>
			<th> </th>
			<th> </th>
		</thead>
		<tbody>
		<% @holidays.each do |holiday| %>
			<tr>
	           		<td><%= holiday.description %></td>
	           		<td><%= holiday.date %></td>
	           		<td><%= link_to "Editar", edit_holiday_path(holiday), :class => "btn btn-primary btn-mini"  %></td>
	           		<td><%= link_to "Eliminar", holiday_path(holiday), :method => :delete,:confirm => '¿Está seguro que desea eliminar el feriado?', :class => "btn btn-primary btn-mini" %></td>
	        </tr>
	    <%end %>	
	           

		</tbody>
	</table>
	<br />
<%end%>
<%= link_to "Agregar un feriado", new_holiday_path, :class => "btn btn-primary btn-large"%> 