<h2> Mis Clientes </h2>
<% if @clients.empty? %>
<div class="row">
	<div class="span4">
		<div class="alert alert-block">
			<a class="close" data-dismiss="alert">x</a>
			<h4 class="alert-heading"> Aún no cargó Ningún cliente. </h4>
			Comience ahora haciendo click en el botón de abajo.
		</div>
	</div>
</div>
<%else%>
	<%= will_paginate @collection, :renderer => BootstrapPagination::Rails%>
	<table>
		<thead>
			<th> Compañia </th>
			<th> Nombre de Contacto </th>
			<th> Apellido de Contacto </th>
			<th> email</th>
			<th> </th>
			<th> </th>
		</thead>
		<tbody>

		<% @clients.each do |client| %>
			<tr>
	           		<td><%= client.company_name %></td>
	           		<td><%= client.contact_name %></td>
	           		<td><%= client.contact_surname %></td>
	           		<td><%= client.email %></td>
	           		<td><%= link_to "Editar", edit_client_path(client), :class => "btn btn-primary btn-mini"  %></td>
	           		<td><%= link_to "Eliminar", client_path(client), :method => :delete,:confirm => "¿Está seguro que desea eliminar al cliente #{client.full_name} ?", :class => "btn btn-primary btn-mini"  %></td>
	        </tr>
	    <%end %>	
	           

		</tbody>
	</table>
	<br />
	<br />
<%end%>
<%= link_to "Agregar un Cliente", new_client_path, :class => "btn btn-primary btn-large"%> 