<h2>Configurar datos de Envío </h2>
<%= form_for(@current_user, :url => actualizar_usuario_path) do |f| %>
  <% if @current_user.errors.any? %>
  <div id="errorExplanation", class="alert alert-error">
    <h6><%= pluralize(@current_user.errors.count, "error") %> prohibited
        this user from being saved:</h6>
    <ul>
    <% @current_user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
<div class="field">
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </div>

  
  <br />
  
  <div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
